# This is an example configuration file for the furiousDriver.py node
# in the furious ROS package.  COPY and customize this file for your robot.

# servo format: servo=name,bus_id,min,center,max
servo=throttle,6,330,249,198
servo=steering,7,384,273,176

# odometer value is meters traveled per tick
odometer=0.33

# list of valid sonar ids
sonar=11,12,13
